<div class="min-h-screen flex justify-center items-center bg-gray-50">
  <div
    class="w-11/12 md:w-1/3 bg-white shadow-lg text-gray-700 rounded-lg pt-5"
  >
    <h1 class="text-2xl font-bold text-center mb-5">Reset Password</h1>
    <hr class="mb-2 border-gray-400" />
    <form
      [formGroup]="resetPasswordForm"
      autocomplete="off"
      (ngSubmit)="onSubmit()"
      class="flex flex-col p-5"
    >
      <label class="text-base block mb-2">New Password</label>
      <app-text-input
        #newPass
        formControlName="newPassword"
        (input)="validatePasswordSimilarity()"
        label="Password"
        type="password"
      ></app-text-input>

      <label class="text-base block mb-2">Confirm Password</label>
      <app-text-input
        #confirmPass
        formControlName="confirmPassword"
        (input)="validatePasswordSimilarity()"
        label="Password"
        type="password"
      ></app-text-input>

      <div class="mb-2">
        <input
          type="checkbox"
          (click)="togglePasswordVisibility(newPass, confirmPass)"
        />
        <span class="ml-2 text-sm">Show Password</span>
      </div>

      <span *ngIf="!arePasswordsMatch && resetPasswordForm.status === 'VALID'">
        <span class="fa fa-exclamation text-sm text-red-500"></span>
        <span class="font-sans text-sm text-red-500">
          Those passwords did not match
        </span>
      </span>

      <button
        type="submit"
        class="w-full text-xl bg-green-600 text-white px-3 py-2 rounded-lg hover:bg-green-700 mt-3"
      >
        Reset
      </button>
    </form>
  </div>
</div>
