<div class="flex justify-center">
  <div class="xl:w-80">
    <div class="input-group relative flex items-stretch w-full">
      <input
        (input)="onKeyInput(searchInput.value)"
        #searchInput
        type="search"
        class="placeholder:text-white rounded-full bg-[#606060] text-white leading-tight form-control relative flex-auto min-w-0 block w-full px-3 py-2 text-base font-normal bg-clip-padding transition ease-in-out m-0 focus:outline-none focus:brightness-125"
        placeholder="Search..."
        aria-label="Search"
        aria-describedby="button-addon2"
      />
    </div>
  </div>
</div>
