<div class="w-full mx-auto flex flex-col">
  <div>
    <div class="py-3 inline-block min-w-full px-4">
      <div>
        <table class="min-w-full">
          <thead class="bg-white dark:bg-neutral-600">
            <tr>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Name
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                File Name
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Size
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Date Created
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Last Modified
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Area
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Parameter
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- table rows -->
          
            <tr 
                [role]="role"
                *ngFor="let file of files; let i = index"
                [file]="file"
                [ngClass]="
                    i % 2 == 0
                    ? 'bg-gray-100 dark:bg-neutral-200'
                    : 'bg-white dark:bg-neutral-300'
                "
            >
                <td class="text-sm text-gray-900 px-6 py-3 whitespace-nowrap">
                    {{ file.name }}
                </td>
                <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                    {{ file.fileName }}
                </td>
                <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                    {{ file.size }}
                </td>
                <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                    {{ file.createdAt }}
                </td>
                <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                    {{ file.lastModifiedAt }}
                </td>
                <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                    {{ file.area }}
                </td>
                <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">
                    {{ file.parameter }}
                </td>

                <td
                  class="flex justify-center text-sm text-gray-900 px-6 py-4 whitespace-nowrap gap-2"
                >
                  <button
                    title="Download"
                    (click)="onDownload()"
                    type="button"
                    class="btn px-2 py-1 bg-[#18ce0f] text-white rounded hover:brightness-95 focus:shadow-lg focus:outline-none active:shadow-lg transition duration-150 ease-in-out"
                  >
                    <i class="fa fa-download"></i>
                  </button>
                  <button
                    [appDisabledBtn]="
                      role == 'Accreditor' || currentAreaControl === 'non-owner'
                    "
                    disabledBackgroundColor="#f9e1ba"
                    enabledBackgroundColor="#ffb236"
                    title="Edit"
                    (click)="onEdit()"
                    type="button"
                    class="btn px-2 py-1 bg-[#ffb236] text-white rounded hover:brightness-95 focus:shadow-lg focus:outline-none active:shadow-lg transition duration-150 ease-in-out"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    [appDisabledBtn]="
                      role == 'Accreditor' || currentAreaControl === 'non-owner'
                    "
                    disabledBackgroundColor="#bfdbfe"
                    enabledBackgroundColor="#2ca8ff"
                    title="Tag"
                    (click)="onMove()"
                    type="button"
                    class="btn px-2 py-1 bg-[#2ca8ff] text-white rounded hover:brightness-95 focus:shadow-lg focus:outline-none active:shadow-lg transition duration-150 ease-in-out"
                  >
                    <i class="fa fa-folder"></i>
                  </button>
                  <button
                    [appDisabledBtn]="
                      role == 'Accreditor' || currentAreaControl === 'non-owner'
                    "
                    disabledBackgroundColor="#fecaca"
                    enabledBackgroundColor="#ff3636"
                    title="Delete"
                    (click)="onRemove()"
                    type="button"
                    class="btn px-2 py-1 bg-[#ff3636] text-white rounded hover:brightness-95 focus:shadow-lg focus:outline-none active:shadow-lg transition duration-150 ease-in-out"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
             
            </tr>
        
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
