<div class="w-full mx-auto flex flex-col">
  <div>
    <div class="py-3 inline-block min-w-full px-4">
      <div>
        <table class="min-w-full">
          <thead class="bg-white dark:bg-neutral-600">
            <tr>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Category
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Name
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                File Name
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Size
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Date Created
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Last Modified
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-left font-bold"
              >
                Status
              </th>
              <th
                scope="col"
                class="dark:text-white text-sm text-gray-700 px-6 py-4 text-center font-bold"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- table rows -->
            <tr
              app-file-table-row
              [role]="role"
              *ngFor="let file of files; let i = index"
              [file]="file"
              [ngClass]="
                i % 2 == 0
                  ? 'bg-gray-100 dark:bg-neutral-200'
                  : 'bg-white dark:bg-neutral-300'
              "
            ></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
