<div class="min-h-screen flex justify-center items-start bg-[#d7d8dc]">
  <app-header></app-header>
  <div
    class="w-11/12 md:w-1/3 bg-white shadow-lg text-gray-700 rounded-md pt-5 z-50 mt-[4.5rem]"
  >
    <h1 class="text-2xl font-bold text-center mb-5">Forgot Password</h1>
    <hr class="mb-2 border-gray-400" />
    <form
      [formGroup]="forgotPasswordForm"
      autocomplete="off"
      (ngSubmit)="onSubmit()"
      class="flex flex-col p-5"
    >
      <label class="text-base block mb-2"
        >Please enter your email address</label
      >
      <app-text-input
        formControlName="email"
        label="Email address"
      ></app-text-input>

      <button
        type="submit"
        class="w-full text-xl bg-[#f96332] text-white px-3 py-2 rounded-lg hover:opacity-90 mt-3"
      >
        Submit
      </button>
    </form>
  </div>
</div>
